[submodule "kobuki"]
	path = kobuki
	url = https://github.com/yujinrobot/kobuki.git
[submodule "yujin_ocs"]
	path = yujin_ocs
	url = https://github.com/yujinrobot/yujin_ocs.git
[submodule "interbotix_ros_rovers"]
	path = interbotix_ros_rovers
	url = https://github.com/Interbotix/interbotix_ros_rovers.git
[submodule "interbotix_ros_core"]
	path = interbotix_ros_core
	url = https://github.com/Interbotix/interbotix_ros_core.git
[submodule "interbotix_ros_manipulators"]
	path = interbotix_ros_manipulators
	url = https://github.com/Interbotix/interbotix_ros_manipulators.git
[submodule "interbotix_ros_toolboxes"]
	path = interbotix_ros_toolboxes
	url = https://github.com/Interbotix/interbotix_ros_toolboxes.git
[submodule "custom_pkgs/cartographer_ros"]
	path = custom_pkgs/cartographer_ros
	url = https://github.com/cartographer-project/cartographer_ros.git
[submodule "custom_pkgs/cartographer"]
	path = custom_pkgs/cartographer
	url = https://github.com/cartographer-project/cartographer.git
[submodule "realsense-ros"]
	path = realsense-ros
	url = https://github.com/IntelRealSense/realsense-ros.git
