<launch>
    <!-- Cartographer 2D mapping -->
    <node name="cartographer_node" pkg="cartographer_ros"
        type="cartographer_node" args="
            -configuration_directory $(find locobot)/config/carto
            -configuration_basename locobot.lua"
        output="screen">
        <remap from="/imu" to="/wit/imu" />
        <remap from="/scan" to="/locobot/scan" />
    </node>

    <node name="cartographer_occupancy_grid_node" pkg="cartographer_ros"
        type="cartographer_occupancy_grid_node" args="-resolution 0.01" />
</launch>
