<launch>
   <include file="$(find locobot)/launch/locobot.launch">

   </include>
    <!-- Cartographer 2D mapping -->
    <node name="cartographer_node" pkg="cartographer_ros"
        type="cartographer_node" args="
            -configuration_directory $(find locobot)/config/carto
            -configuration_basename locobot_relocalization.lua"
        output="screen">
        <remap from="/imu" to="/locobot/mobile_base/sensors/imu_data" />
        <remap from="" to=""/>
    </node>

    <node name="fix_sim_time" pkg="axs_localization" type="fix_sim_time.py" output="screen" />

    <node name="cartographer_occupancy_grid_node" pkg="cartographer_ros"
        type="cartographer_occupancy_grid_node" args="-resolution 0.01" />
</launch>
