<launch>
    <arg name="imu_topic"  default="/wit/imu"/>
    <arg name="scan_topic" default="/locobot/scan"/>
    <arg name="odom_topic" default="/locobot/mobile_base/odom"/>
    <!-- Cartographer 2D mapping -->
    <node name="cartographer_node" pkg="cartographer_ros"
        type="cartographer_node" args="
            -configuration_directory $(find locobot)/config/carto
            -configuration_basename locobot.lua"
        output="screen">
        <remap from="/imu"  to="$(arg imu_topic)" />
        <remap from="/scan" to="$(arg scan_topic)" />
        <remap from="/odom" to="$(arg odom_topic)" />
    </node>

    <node name="cartographer_occupancy_grid_node" pkg="cartographer_ros"
        type="cartographer_occupancy_grid_node" args="-resolution 0.01" />
</launch>
