<launch>
  <arg name="device_type_camera1"    		default="t265"/>
  <arg name="device_type_camera2"    		default="d455"/>		<!-- Note: using regular expression. match D435, D435i, D415... -->
  <arg name="serial_no_camera1"    			default=""/>
  <arg name="serial_no_camera2"    			default=""/>
  <arg name="camera1"              			default="t265"/>
  <arg name="camera2"              			default="d455"/>
  <arg name="tf_prefix_camera1"         default="$(arg camera1)"/>
  <arg name="tf_prefix_camera2"         default="$(arg camera2)"/>
  <arg name="initial_reset"             default="false"/>
  <arg name="reconnect_timeout"         default="6.0"/>
  <arg name="clip_distance"             default="5"/>
  <arg name="enable_fisheye"            default="false"/>

  <group ns="$(arg camera1)">
    <include file="$(find realsense2_camera)/launch/includes/nodelet.launch.xml">
      <arg name="tf_prefix"                value="$(arg tf_prefix_camera1)"/>
      <arg name="serial_no"                value="$(arg serial_no_camera1)"/>
      <arg name="usb_port_id"              value=""/>
      <arg name="device_type"              value="$(arg device_type_camera1)"/>
      <arg name="json_file_path"           value=""/>
      <arg name="enable_sync"              value="true"/>
      <arg name="fisheye_width"            value="-1"/>
      <arg name="fisheye_height"           value="-1"/>
      <arg name="enable_fisheye1"          value="$(arg enable_fisheye)"/>
      <arg name="enable_fisheye2"          value="$(arg enable_fisheye)"/>
      <arg name="fisheye_fps"              value="-1"/>
      <arg name="gyro_fps"                 value="-1"/>
      <arg name="accel_fps"                value="-1"/>
      <arg name="enable_gyro"              value="true"/>
      <arg name="enable_accel"             value="true"/>
      <arg name="enable_pose"              value="true"/>
      <arg name="linear_accel_cov"         value="0.01"/>
      <arg name="initial_reset"            value="$(arg initial_reset)"/>
      <arg name="reconnect_timeout"        value="$(arg reconnect_timeout)"/>
      <arg name="unite_imu_method"         value=""/>
      <arg name="publish_odom_tf"          value="true"/>
    </include>
  </group>

  <group ns="$(arg camera2)">
    <include file="$(find realsense2_camera)/launch/includes/nodelet.launch.xml">
      <arg name="device_type"           value="$(arg device_type_camera2)"/>
      <arg name="initial_reset"         value="$(arg initial_reset)"/>
      <arg name="reconnect_timeout"     value="$(arg reconnect_timeout)"/>
      <arg name="clip_distance"         value="$(arg clip_distance)"/>
      <arg name="tf_prefix"                value="$(arg tf_prefix_camera2)"/>
      <arg name="serial_no"                value="$(arg serial_no_camera2)"/>
      <arg name="enable_sync"              value="true"/>
      <arg name="align_depth"              value="true"/>
      <arg name="depth_width"              value="640"/>
      <arg name="depth_height"             value="480"/>
      <arg name="enable_depth"             value="true"/>
      <arg name="color_width"              value="640"/>
      <arg name="color_height"             value="480"/>
      <arg name="enable_color"             value="true"/>
      <arg name="depth_fps"                value="30"/>
      <arg name="color_fps"                value="30"/>
      <arg name="filters"                  value="pointcloud"/>
    </include>
  </group>

  <node pkg="tf" type="static_transform_publisher" name="t265_to_d455" args="-0.00808203  0.03989147  0.03076259 -0.00796521 -0.01147534  0.0010993 /$(arg tf_prefix_camera1)_link /$(arg tf_prefix_camera2)_link 100"/>

</launch>
