<launch>

  <!-- Common Launch File Arguments -->
  <arg name="robot_model"                       default="locobot_wx250s"/>
  <arg name="base_type"                         default="$(optenv INTERBOTIX_XSLOCOBOT_BASE_TYPE kobuki)"/>
  <arg name="use_sim"                           default="false"/>

  <arg name="localization"                      default="false"/>
  <arg name="map_dir"                           default="$(find locobot)/maps/0326"/>
  <arg name="reset"                             default="false"/>

  <!-- interbotix_xslocobot_control Launch File Arguments -->
  <arg name="robot_name"                        default="locobot"/>
  <arg name="show_gripper_bar"                  default="true"/>
  <arg name="show_gripper_fingers"              default="true"/>
  <arg name="external_urdf_loc"                 default=""/>
  <arg name="use_rviz"                          default="false"/>
  <arg name="rviz_frame"                        default="$(arg robot_name)/base_footprint"/>
  <arg name="use_base"                          default="true"/>
  <arg name="use_dock"                          default="false"/>
  <arg name="use_lidar"                         default="true"/>
  <arg name="show_lidar"                        default="$(arg use_lidar)"/>
  <arg name="use_camera"                        default="true"/>
  <arg name="filters"                           default="pointcloud"/>
  <arg name="align_depth"                       default="true"/>
  <arg name="color_fps"                         default="30"/>
  <arg name="color_width"                       default="1280"/>
  <arg name="color_height"                      default="720"/>
  <arg name="depth_fps"                         default="30"/>
  <arg name="depth_width"                       default="1280"/>
  <arg name="depth_height"                      default="720"/>
  <arg name="load_configs"                      default="true"/>

  <!-- static transform pub arguments -->
  <arg name="load_transforms"                   default="true"/>
  <arg name="transform_filepath"                default="$(find interbotix_xslocobot_perception)/config/static_transforms.yaml"/>

  <include file="$(find interbotix_xslocobot_control)/launch/xslocobot_control.launch">
    <arg name="robot_model"                       value="$(arg robot_model)"/>
    <arg name="robot_name"                        value="$(arg robot_name)"/>
    <arg name="show_gripper_bar"                  value="$(arg show_gripper_bar)"/>
    <arg name="show_gripper_fingers"              value="$(arg show_gripper_fingers)"/>
    <arg name="external_urdf_loc"                 value="$(arg external_urdf_loc)"/>
    <arg name="use_rviz"                          value="$(arg use_rviz)"/>
    <arg name="rviz_frame"                        value="$(arg rviz_frame)"/>
    <arg name="use_camera"                        value="$(arg use_camera)"/>
    <arg name="use_lidar"                         value="$(arg use_lidar)"/>
    <arg name="use_base"                          value="$(arg use_base)"/>
    <arg name="use_dock"                          value="$(arg use_dock)"/>
    <arg name="filters"                           value="$(arg filters)"/>
    <arg name="align_depth"                       value="$(arg align_depth)"/>
    <arg name="color_fps"                         value="$(arg color_fps)"/>
    <arg name="color_width"                       value="$(arg color_width)"/>
    <arg name="color_height"                      value="$(arg color_height)"/>
    <arg name="depth_fps"                         value="$(arg depth_fps)"/>
    <arg name="depth_width"                       value="$(arg depth_width)"/>
    <arg name="depth_height"                      value="$(arg depth_height)"/>
    <arg name="load_configs"                      value="$(arg load_configs)"/>
    <arg name="use_sim"                           value="$(arg use_sim)"/>
  </include>

  <!-- cartographer -->
  <!-- localization -->
  <group if="$(arg localization)">
    <include file="$(find locobot)/launch/carto_localization.launch">
        <arg name="map_dir" value="$(arg map_dir)" />
    </include>
  </group>

  <!-- mapping -->
  <group unless="$(arg localization)">
      <include file="$(find locobot)/launch/carto_slam.launch" />
  </group>

  <!-- move base -->
  <include file="$(find locobot)/launch/mvbase.launch" ns="$(arg robot_name)"> 
    <arg name="robot_name" value="$(arg robot_name)"/>
    <arg name="base_type"  value="$(arg base_type)"/>
  </include>

  <!-- reset -->
  <node if="$(arg reset)" pkg="locobot" type="reset.py" name="reset2sleep_pose" output="screen"/>

</launch>